.table-custom th {
    background-color: #7bc947;
    color: #fff;
}

.table-custom td, .table-custom th {
    border-color: #454d55;
}

.table-custom .btn {
    margin-right: 5px;
}

.table-custom .form-control {
    width: 80px;
}
