/*SECCION NAV*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

.contador {
    margin-right: 10px;
    margin-top: 5px;
    background-color: #808080;
    color: #ffffff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.header {
    padding-top: 30px;
    padding-bottom: 30px;
}
.nav-container {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    width: 100%;
}
.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
body {
    padding: 60px;
}
.navbar {
    height: 60px;
    max-width: 1100px;
    margin: auto;
    width: 100%;
}
.navbar-brand i {
    color: white;
    font-size: 25px;
}
.nav-container .centered {
    flex-grow: 1;
    text-align: center;
}
.nav-container .spaced {
    justify-content: center;
    align-items: center;
}
.nav-container .spaced i:hover {
    color: #7bc947;
}
.navbar-nav .navbar-brand img {
    filter: invert(1) !important;
}
.texto-carrito {
    color: white;
}
.texto-tienda {
    color: white;
}
#marca {
    font-family: 'Righteous';
    color: #7bc947
}
